[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/authlogic"]
	path = vendor/plugins/authlogic
	url = git://github.com/binarylogic/authlogic.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/settingslogic"]
	path = vendor/plugins/settingslogic
	url = git://github.com/binarylogic/settingslogic.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/awesome_nested_set"]
	path = vendor/plugins/awesome_nested_set
	url = git://github.com/collectiveidea/awesome_nested_set.git
[submodule "vendor/plugins/acts_as_taggable_on_steroids"]
	path = vendor/plugins/acts_as_taggable_on_steroids
	url = git://github.com/be9/acts_as_taggable_on_steroids.git
[submodule "vendor/plugins/fckeditor"]
	path = vendor/plugins/fckeditor
	url = git://github.com/bilson/fckeditor.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/freelancing-god/thinking-sphinx.git
[submodule "vendor/plugins/acts_as_indexed"]
	path = vendor/plugins/acts_as_indexed
	url = git://github.com/dougal/acts_as_indexed.git
[submodule "vendor/plugins/rutils"]
	path = vendor/plugins/rutils
	url = git://github.com/julik/rutils.git
[submodule "vendor/plugins/seo_helper"]
	path = vendor/plugins/seo_helper
	url = git://github.com/relevance/seo_helper.git
[submodule "vendor/plugins/sanitize"]
	path = vendor/plugins/sanitize
	url = git://github.com/rgrove/sanitize.git
[submodule "vendor/plugins/sitemap"]
	path = vendor/plugins/sitemap
	url = git://github.com/queso/sitemap.git
