<h2>Конкурс рейтингов</h2>
<div style="width:667px; height:40px;">
        <div class="text" style="margin:10px; float:left"><a href="">Правила участия</a></div>
        <div class="additional" style="float:right; *margin-right:10px;"><p><b>Сумма призов на 22.09 составила  <span style="color:#815646">$2000</span></b></div>
</div>
<div class="hr"><hr /></div>
<!--div class="hr"><hr /></div-->
<div style="height:170px; width: 655px">
        <div class="left">
                <h4 class="title" style="margin-left:0px; ">Текущий конкурс</h4>
                <p class="small">Начало <%= "текущего" if current_contest %> конкурса <span>21.12.1980</span></p>
                <p class="small">Окончание <span><%=  %></span></p>
                <p class="small">Подведение итогов <span>21.12.1980</span></p>
                <p class="small">Приз <span>21.12.1980</span></p>
        </div>
        <div class="right_box">
                <div class="right">
                        <div class="rate1">Лидеры (TOP 5)</div>
                        <div class="rate2">Рейтинг</div>
                        <div class="rate_name">1. <a href="#" onmouseover="TagToTip('span2', BGCOLOR, '#FFFFFF')" onmouseout="UnTip()">Home page </a></div>
                        <div class="rate_rate"><div style="width:80% "></div></div>
                        <div class="rate_name">1. <a href="#" onmouseover="TagToTip('span2', BGCOLOR, '#FFFFFF')" onmouseout="UnTip()">Home page </a></div>
                        <div class="rate_rate"><div style="width:50% "></div></div>
                        <div class="rate_name">1. <a href="#" onmouseover="TagToTip('span2', BGCOLOR, '#FFFFFF')" onmouseout="UnTip()">Home page </a></div>
                        <div class="rate_rate"><div style="width:90% "></div></div>
                        <div class="rate_name">1. <a href="#" onmouseover="TagToTip('span2', BGCOLOR, '#FFFFFF')" onmouseout="UnTip()">Home page </a></div>
                        <div class="rate_rate"><div style="width:100% "></div></div>
                        <div class="rate_name">1. <a href="#" onmouseover="TagToTip('span2', BGCOLOR, '#FFFFFF')" onmouseout="UnTip()">Home page </a></div>
                        <div class="rate_rate"><div style="width:10% "></div></div>
                </div>
        <div class="rate_name" style="margin-left: 20px;*margin-left: 10px;border: 0px"><a href="">Все участники</a></div>
        </div>
        <div class="mfooter"></div>
</div>
<ul>
<% for contest in @contests %>
  <li style="list-style:none"><%= link_to contest.name, users_contest_path(contest) %></li>
<%end%>
</ul>
