*{	
	margin:0px;
	padding:0px;
}

body{
	background: #4d624d;
        /*background: #4d624d url('../images/header_bg.jpg') repeat-x 0 0 ;*/
	font-family: verdana, tahoma, sans-serif;
	color:#000000;
	margin:0px;
	padding:0px;
        font-size:12px;
}

form {
	margin:0px;
	}

label {
	color: #000000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
        width:160px;
	}

img {
	border: 0px;
	}

h1, h2, h3, h4 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#999271;
	font-weight:normal;
	margin-bottom:16px;
	}
h1 {
    font-size:25px
}

h2 {
    font-size:20px
}

h3 {
	font-size:18px;
	}

h4 {
	font-size:12px;
	color:#005b7f;
	margin-bottom:8px;
	}

a, a:visited { color:#275a7a;}
a:hover {color:#666666; text-decoration:none}

h4 a:link {color:#005b7f; text-decoration: underline;}
h4 a:visited {color:#005b7f; text-decoration: underline;}
h4 a:active {color:#005b7f; text-decoration: underline;}
h4 a:hover {color:#666666; text-decoration: none;}

#page {
	width: 1100px;
	overflow: hidden;
	margin: 0px auto;
	margin-left: -550px;
	position: absolute;
  	right: 0;
  	left: 50%;
  	padding: 0px;
	}

/* ================= heeader ===============*/

#header{
	width: 1100px;
	height: 118px;
	background: url('../images/header_bg.jpg') #4d624d;
	overflow: hidden;
	}

#banner {
	width: 924px;
	height: 60px;
	background-color: #7c98ad;
	margin: 58px 0px 0px 94px;
	}
/* ================= heeader ===============*/

#header_menu{
	width: 987px;
	height: 116px;
	background: url('../images/header2_bg.gif') repeat-x top #FFFFFF;
	margin: 0px 0px 0px 63px;
	overflow: hidden;
	}

#logo_search {
	float: left;
	}

#logo {
	margin: 15px 0px 0px 30px;
	}

.search {
	height: 22px;
	width: 205px;
	margin: 10px 0px 0px 35px;
	}
.search_text {
    float: left;
}
.search_text input{
	height: 19px;
	width: 179px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #6d7e6d;
	padding: 1px 0px 0px 7px;
	float: left;
	}
	
.search_submit {
	height: 19px;
	width: 24px;
	float: right;
	}

#common_menu {
	width: 665px;
	height: 116px;
	float: right;
	}
	
#menu_top {
	width: 665px;
	height: 63px;
	overflow: hidden;
	}

.menu_links {
	float: left;
	padding-top: 30px;
	height: 31px;
	}

.menu_links a{
	margin-left: 20px;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	color: #737473;
	}
	
.menu_links	a:link {text-decoration: underline;}
.menu_links a:visited {text-decoration: underline;}
.menu_links a:active {text-decoration: underline;}
.menu_links a:hover {text-decoration: none;}

.vert_line {
	height: 63px;
	width: 0px;
	border-left: 1px solid #ebe9dc;
	margin: 15px 10px;
	float: left;
	}
	
.login_info {
	margin-top: 20px;
	color: #815646;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	width: 150px;
	height: 63px;
	float:left;
	}

.login_info img {
	margin-right:5px;
	border:1px solid #a8a592;
	}
.login { color:#815646 !important;}
.login img{ margin-top:3px;}
.registration {padding-left:2px;}
.exit {
        height: 31px;
        padding-top:30px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}

.exit a {
	color:#005b7f;
        display:block;
        height:16px;
        float:left;
        margin-right:8px;
	}

.exit a:link {text-decoration: underline;}
.exit a:visited {text-decoration: underline;}
.exit a:active {text-decoration: underline;}
.exit a:hover {text-decoration: none;}

#menu_bottom {
	height:53px;
	width:665px;
	}

ul.menu {
  width: 650px;
  margin:5px 0px 0px 10px;
  font-family:Verdana, sans-serif;
  font-size:  12px;
  color: #67696d;
}
ul.menu li {
  list-style:none;
  margin:0px 15px 0px 0px;
  display:inline;
  height:14px;
  padding: 3px 5px 10px 5px;
}

ul.menu li.active {
  background:url('../images/bottom_menu_bg.gif') no-repeat center;
  color:#815646;
}
ul.menu li.active a{
    text-decoration:none;
}

ul.menu li a {
  text-decoration: underline;
  color:#275a7a;
}

ul.menu li a:hover{
	border:0px;
	text-decoration: none;
	}

.links_path {
	margin-top:20px;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:500px;
	}

.links_path .aaa {
	height:14px;
	padding-bottom:6px;
	float:left;
	}

.links_path .aaa img {
	margin:4px 4px;
	}

.links_row .bbb, 
.links_path .bbb {
  background:url('../images/link_bg.gif') no-repeat center;
  color:#815646;
  height:20px;
  text-decoration:none;
  padding:1px 2px;
  float:left;
}

.links_row .bbb {
	font-weight:bold;
	}

.links_path a {
	color:#005b7f;
	}

.links_path a:link {text-decoration: underline;}
.links_path a:visited {text-decoration: underline;}
.links_path a:active {text-decoration: underline;}
.links_path a:hover {text-decoration: none;}

div.hr {
  	height: 1px;
  	width: 100%;
  	background-color: #edebe0;
	border-bottom: 1px solid #edebe0;
}

div.hr hr {
  display: none;
}


#main{
	width: 987px;
	margin: 0px;
	/*color: red;*/
	color:#666;
	clear: both;
	margin: 0px 50px 0px 63px;
	border:0px solid yellow;
	background-color:#FFFFFF;
	overflow: hidden;
	}
 
#leftbar {
    float: left;
	width:253px;
	_width: 290px;
    margin:0px;
    background-color: #FFFFFF;
	padding-left: 37px;

}

#menu {
	width: 202px;
	margin-bottom: 35px;
}
 
#menu ul {
	list-style: none;
	margin: 20px 0px 0px 0px;;
	padding: 0;
	text-align: left;
	color:#275a7a;
}

#menu li {
	margin: 10px 0px 0px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

#menu li.marked {
	list-style-type: square;
}

#menu li.active {
	color:#815646;
	}

#menu a {
	color:#275a7a;
}

#menu a:link {color:#275a7a; text-decoration: underline;}
#menu a:visited {color:#275a7a; text-decoration: underline;}
#menu a:active {color:#275a7a; text-decoration: underline;}
#menu a:hover {color:#666666; text-decoration: none;}

#menu li ul {
	margin: 6px 0px 0px 0px;
	color:#275a7a;
}

#menu li ul li {
	margin: 3px 0px 0px 7px;
	font-size: 11px;
	padding-left:10px;
}

#menu li ul li a {
	font-style:normal;
	font-weight:normal;
}


.news_block {
	margin-bottom:15px;
	width: 202px;
	overflow:hidden;
	font-size:11px;
	}

.title_left {	
	width: 202px;
	height: 18px;
	background: #f0eee1;
	text-align:left;
        padding-left:7px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#999271;
	text-decoration:underline;
	margin-bottom: 5px;
	}

        .title_left a{ color:#999271 !important;}

.analize_left {
	width:193px;
	_width:202px;
	background:url('../images/left_news_item_bg.gif') repeat-x;
	border:1px solid #f0eee1;
	padding: 5px 0px 0px 7px;
	}

.analize_left img, a {
	margin-bottom:2px;
	}

.analize_left a {
	margin-bottom:2px;
	}

.select {
	margin-bottom:5px;
	}

.news_block a:link {color:#275a7a; text-decoration: underline;}
.news_block a:visited {color:#275a7a; text-decoration: underline;}
.news_block a:active {color:#275a7a; text-decoration: underline;}
.news_block a:hover {color:#666666; text-decoration: none;}

.ad {
	background-color: #d6e3d6;
	width: 192px;
	_width: 203px;
	padding: 5px;
	margin-bottom:20px;
	}

a:link.a,
a:link.b,
a:link.c,
a:link.d {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#4d624d;
	}

a:hover.a,
a:hover.b,
a:hover.c,
a:hover.d {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#4d624d;
	text-decoration:none;
	}

a:visited.a,
a:visited.b,
a:visited.c,
a:visited.d {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#4d624d;
	}

a.d {
	font-size:16px;
	}

a.a {
	font-size:14px;
	}

a.b {
	font-size:11px;
	}

a.c {
	font-size:10px;
	}

#middlebar {
    float: left;
    width: 663px;
    margin:0px 0px 20px 0px;
    background-color: #FFFFFF;
	overflow:hidden;
}

.search_add {
	width:100%;
	height:60px;
	}
.search_add .search {
	height: 22px;
	width: 620px;
	margin: 10px 0px 0px 35px;
	}
	
.search_add .search_text input{
	height: 19px;
	width: 256px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #b9b189;
	padding: 1px 0px 0px 7px;
	margin-right:2px;
	float: left;
	}

.search_add .search_submit {
	float:left;
	}

.add_article {
	float:right;
	}

.info_box {
	margin:10px 0px 0px 10px;
	float:left;
	}

.info_article {
	width:352px;
	height:157px;
	font-size:12px;
	color:#000000;
	}

p.font12 {
	margin-bottom:10px;
	}

p.font12 a:link {color:#275a7a; text-decoration: underline;}
p.font12 a:visited {color:#275a7a; text-decoration: underline;}
p.font12 a:active {color:#275a7a; text-decoration: underline;}
p.font12 a:hover {color:#275a7a; text-decoration: none;}

p.small, div.small {
	color:#222222;
	font-size:10px;
	}

p.small span {
	color:#807c65;
	}
.rate_plus{color:#807c65 !important;}
.rate_minus{color:#5b8f5b !important;}
.rate{padding-left:3textpx;}

.pink_box, .pink_line {
	width:310px;
	height:54px;
	background-color:#f7ede9;
	margin: 10px 0px;
	padding:10px 0px 15px 10px;
	}

.pink_line {
	width:394px;
	height:17px;
	padding:0px;
	margin:0px 0px 20px 0px;
	}

.pink_box p.small {
	margin-bottom:10px !important;
	}

.pink_line div {
	margin:0px;
	padding:2px;
	float:left;
	}

.pink_line div span{
	color:#5b8f5b;
	}


.pink_line div.small1 {
	padding:0px;
	margin:0px;
	}
	
.pink_line div.line {
	padding:0px;
	margin:2px 10px 2px 10px;
	border-left: 1px solid #FFFFFF;
	}

.small a:link {color:#a8938c; text-decoration: none;}
.small a:visited {color:#a8938c; text-decoration: none;}
.small a:active {color:#a8938c; text-decoration: none;}
.small a:hover {color:#815646; text-decoration: underline;}

.small span a:link {color:#8da48d; text-decoration: none;}
.small span a:visited {color:#8da48d; text-decoration: none;}
.small span a:active {color:#8da48d; text-decoration: none;}
.small span a:hover {color:#5b8f5b; text-decoration: underline;}

.article_additional {
	font-size:11px;
	color:#000000;
	width:310px;
	height:180px;
	float:left;
	}

.text {
	margin:10px 0px 55px 30px;
	}

.text a {
	color:#005b7f;
	}

.text a:link {text-decoration: underline;}
.text a:visited {text-decoration: underline;}
.text a:active {text-decoration: underline;}
.text a:hover {text-decoration: none;}

#common_article {
	width:100%;
	margin-top:10px;
	font-size:12px;
	color:#000000;
        overflow:hidden;
	}

#common_left {
	width:420px;
	_width:460px;
	border-right:1px solid #edebe0;
	padding-right:30px;
	padding-left:10px;
	overflow:hidden;
	float:left;
	}

#common_left p {
	margin-bottom:30px;
	}

.comment {
	background: url('../images/left_news_item_bg.gif') repeat-x;
	width:396px;
	_width:416px;
	border:1px solid #f1efe2;
	padding:10px;
	margin-bottom:10px;
	}
	
.comm_title {
	height:15px;
	}

.comment p {
	margin:10px 0px 0px 0px;
	}
	
.user_name {
	font-weight:bold;
	font-size:10px;
	text-decoration:underline;
	color:#275a7a;
	float:left;
	}
	
.user_time {
	color:#807c65;
	font-size:10px;
	float:none !important;
	}

.user_time span{
	margin-left:10px;
	}

div.comments_col {
	font-size:11px;
	margin:0px;
	overflow:hidden;
	height:17px;
	}

.comments_col a {
	color:#275a7a;
	border-bottom: 1px dashed #275a7a;
	text-decoration:none;
	display: inline-block;
	vertical-align: bottom;
	margin-top:0px;
	_margin-top:0px;
	overflow:hidden;
	}
	
.comments_col a:link {border-bottom: 1px dashed #275a7a;}
.comments_col a:visited {border-bottom: 1px dashed #275a7a;}
.comments_col a:active {border-bottom: 1px dashed #275a7a;}
.comments_col a:hover {border-bottom: 0px dashed #275a7a;}

.comment_box {
	width:382px;
	_width:100%;
	padding: 5px;
	border:1px solid #f1efe2;
	margin-bottom:5px;
	margin-top:10px;
	}

a.broun {
	height:15px;
	font-size:10px;
	color:#883527;
	text-decoration:none;
	margin-bottom:5px;
	display:inline-block;
	overflow:hidden;
	}

a.broun:link {border-bottom: 1px dashed #883527;}
a.broun:visited {border-bottom: 1px dashed #883527;}
a.broun:active {border-bottom: 1px dashed #883527;}
a.broun:hover {border-bottom: 0px dashed #883527;}

#textarea {
	width:393px;
	height:130px;
	border:1px solid #aaa06f;
	margin-bottom:5px;
	}

#textarea1 {
	width:417px;
	height:130px;
	border:1px solid #aaa06f;
	margin-bottom:5px;
	}

#rightbar {
   /* width: 183px;
	_width: 200px;*/
	padding-left:13px;
    margin:0px;
    float: left;
}

.title {
	font-size:14px;
	color:#999271;
	font-weight:bold;
	}

.mfooter {
    clear: both;
}

#rightbar .user_time {
	float:none;
	margin-top:10px;
	}

.article_text {
	font-size:10px;
	margin-bottom:10px;
	}

.link {
	margin-top:10px;
	}

.link a{
	text-decoration:underline;
	color:#275a7a;
	}

.link a:link {text-decoration:underline;}
.link a:visited {text-decoration:underline;}
.link a:active {text-decoration:underline;}
.link a:hover {text-decoration: none;}

#footer {
	height:45px;
	width:100%;
	clear:both;
	/*background: url('../images/footer_bg.gif') repeat-x #4d624d;*/
}


a.add1, a.add {
	font-size:11px;
	color:#275a7a;
	text-decoration:none;
	margin-bottom:5px;
	}

a.add1 {
	color:#883527;
	}

a.add:link, a.add1:link {text-decoration: none}
a.add:visited {text-decoration: none}
a.add:active {text-decoration: none}
a.add:hover, a.add1:hover {text-decoration: underline}

.form_label {
	height:15px;
	_height:19px;
	width:159px;
	_width:164px;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	margin:0px;
	float:left;
	background-color:#f1efe2;
	padding: 2px 0px 2px 5px;
	overflow:hidden;
	}

.form_label1 {
	float:left;
	margin-left:10px;
	padding-top:2px;
	}

a.blue {
	font-size:10px;
	color:#275a7a;
	margin-bottom:5px;
	border-bottom: 1px dashed #275a7a;
	text-decoration:none;
	display: inline-block;
	vertical-align: bottom;
	overflow:hidden;
	}

a.blue:link {border-bottom: 1px dashed #275a7a;}
a.blue:visited {border-bottom: 1px dashed #275a7a;}
a.blue:active {border-bottom: 1px dashed #275a7a;}
a.blue:hover {border-bottom: 0px dashed #275a7a;}

.links_box {
	width:666px;
	margin-bottom:20px;
	}
.links_box a{
        display:block;
        float:left;
        width:150px;
        margin-right:10px;
        font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
        color:#275a7a;
}

.links_box a:hover{
        text-decoration:underline;
    }
	
.links_row {
	width:222px;
	float:left;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
	}

.links_row div {
	margin-top:5px;
	}
	
.links_row a {
	color:#275a7a;
	
	text-decoration:underline;
	font-weight:bold;
	}
	
.links_row a:link {text-decoration: underline}
.links_row a:visited {text-decoration: underline}
.links_row a:active {text-decoration: underline}
.links_row a:hover {text-decoration: none}

.comments_header {
	height:19px;
	overflow:hidden; 
	}

.form_title {
	margin: 0px 0px 0px 10px;
	padding:0px;
	width:15px;
	height:16px;
	float:left;
	overflow:hidden;
	}

.form_title img {
	border:0px;
	}
	
.form_title_text {
	float:left;
	margin: 0px 0px 0px 10px;
	padding:0px;
	}
	
.reg_form_line {
	margin:0px;
	height:30px;
	width:400px;
	}
.reg_form_line label{
        float:left;
        }
	
.reg_text {
	border:1px solid #a49c75;
	width:233px;
	height:19px;
	float:right;
	}
.reg_checkbox{
        display:block;
        float:right;
        margin-right:100px;
}
	
.additional {
	color:#000000;
	font-size:12px;
	}

.normal_text {
	/*font-size:11px;*/
	/*color:#000000;*/
	margin:10px 20px 20px 0px;
	}
	
.chekbox {
	margin-top:10px;
	font-size:11px;
	color:#000000;
	}
	
#check {
	border:1px solid #aaa06f;
	background-color:#FFFFFF;
	width:15px;
	height:15px;
	}
	
.photo {
	vertical-align: top;
	margin-bottom:10px;
	}
	
.names {
	width:200px;
	height:30px;
	float:left;
	}
	
.values {
	width:220px;
	float:left;
	}

.values img {
	vertical-align:middle;
	}
	
a.lbroun {
	color:#815646;
	font-size:10px;
	text-decoration:underline;
	}
	
a:link.lbroun {text-decoration: underline}
a:visited.lbroun {text-decoration: underline}
a:active.lbroun {text-decoration: underline}
a:hover.lbroun {text-decoration: none}


a.lblue {
	color:#275a7a;
	font-size:12px;
	text-decoration:underline;
	}
	
a:link.lblue {text-decoration: underline}
a:visited.lblue {text-decoration: underline}
a:active.lblue {text-decoration: underline}
a:hover.lblue {text-decoration: none}

.rate_box {
	width:171px;
	overflow:hidden;
	padding:13px;
	background-color:#f7ede9;
	margin-bottom:15px;
	}
	
.names a {
	color:#9a563c;
	text-decoration:underline;
	}
	
.names a:link {text-decoration: underline}
.names a:visited {text-decoration: underline}
.names a:active {text-decoration: underline}
.names a:hover {text-decoration: none}



.comment_textarea {
	width:393px;
	height:130px;
	border:1px solid #aaa06f;
	margin-bottom:5px;
	}
.need_moder {
        border:1px solid red;
        padding: 4px;
}
.check_unique{
    float:right;
    display:block;
    width:100px;
}

.additional_header{
    clear:both;
    padding-top:10px;
    padding-bottom:10px;
}
.buffer{
    display:block;
    width:100%;
    clear:both;
    height:20px;
}

.marked_text{
    background: #ebebeb; olor:#000;
}

.check_result{
    margin-left:57px;
}

ul#therms {
    list-style:none;
}
ul#therms li{
    padding-bottom:10px;
    padding-top:5px;
    padding-left:10px;
}

.letters_links{
    padding-bottom:30px;
}

ul.admin_menu{
    font-size:10px;
}


.title_middle {
	width:655px;
	height:20px;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#999271;
	background:#f0eee1;
	text-decoration:underline;
	font-weight:bold;
	padding-left:10px;
	clear:both;
	margin:10px 0px;
	}
.title_middle a{
    color:#999271;
}

.left {
	width:290px;
	height:124px;
	float:left;
	padding:18px 10px 18px 10px;
	}

.left .small {
	margin-bottom:7px;
	}

.left img {
	float:left;
	margin-right:5px;
	}

.teamlead {
	color:#76422e;
	font-weight:bold;
	font-size:11px;
	margin: 0px 0px 5px 0px;
	}

.left .bold {
	font-weight:bold;
	color:#275a7a;
	margin:5px 0px 15px 0px;
	}

.right_box {
	float: right;
	width: 330px;
	*width: 310px;
	}

.right {
	width:307px;
	eight:126px;
	border:1px solid #f0eee1;
	float:right;
	margin:8px 0px 0px 0px;
	padding:7px 9px;
	background:url('/images/left_news_item_bg.gif') repeat-x top;
	}

.right .rate1,
.rate_name {
	background:url('/images/block_bg.gif') top repeat-x;
	width: 200px;
	float:left;
	}

.right .rate2,
.rate_rate {
	background:url('/images/block_bg.gif') top repeat-x;
	width: 93px;
	*width: 80px;
	float:right;
	}

.rate_name,
.rate_rate {
	background:none;
	}

.rate1,
.rate2,
.rate_name,
.rate_rate {
	height:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#949075;
	text-align:center;
	padding-top:2px;
	border-bottom:1px solid #dad6be;
	}

.rate_name {
	color:#275a7a;
	text-align:left;
	}

.rate_name a {
	color:#275a7a;
	}

.rate_name a:link {text-decoration: underline}
.rate_name a:visited {text-decoration: underline}
.rate_name a:active {text-decoration: underline}
.rate_name a:hover {text-decoration: none}

.rate_rate div {
	background:url('/images/rate_rate.gif');
	height:15px;
	float: left;
	}


#mainpage {
	margin-left:10px;
	}

#mainpage .links_row a {
	font-weight:normal;
	margin-bottom:7px;
	}

#mainpage .links_row div {
	margin-bottom:7px;
	}

.banner_sm {
	width:470px;
	height:60px;
	background:#7c98ad;
	}

.news_mainpage {
	margin:20px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	width:663px;
	height:40px;
	clear:both;
	}

.news_mainpage a {
	font-size:12px;
	color:#356482;
	}
.news_mainpage a:link {text-decoration: underline}
.news_mainpage a:visited {text-decoration: underline}
.news_mainpage a:active {text-decoration: underline}
.news_mainpage a:hover {text-decoration: none}

.news_mainpage .user_time {
	float:left;
	}

.dashdot {
	width:650px;
	padding:5px;
	border: 1px dashed #cdc6ac;
	font-size:11px;
	margin:20px 0px;
	}

.dashdot p {
	margin-bottom:7px;
	}

.dashdot a {
	color:#2a2a2a;

	}

.dashdot a:link {text-decoration: underline}
.dashdot a:visited {text-decoration: underline}
.dashdot a:active {text-decoration: underline}
.dashdot a:hover {text-decoration: none}

.library_also {
	float:right;
	width:325px;
	border:0px solid red;
	}
*html .library_also {margin-right:5px;}

.library_also .line {
	width:100%;
	height:18px;
	padding-top:2px;
	border-bottom:1px solid #dad6be;
	}

.library_also .rate_name {
	width:155px;
	}

.library_also .rate_rate {
	width:160px;
	color:#000000;
	}

a.broun1 {
	height:15px;
	font-size:10px;
	color:#883527;
	text-decoration: underline;
	margin-bottom:5px;
	display:inline-block;
	overflow:hidden;
	}

a.brou1n:link {text-decoration: underline;}
a.broun1:visited {text-decoration: underline;}
a.broun1:active {text-decoration: underline;}
a.broun1:hover {text-decoration: none;}

#span2 {
	width: 230px;
	height: 118px;
	background-color: #FFFFFF;
	color: #000000;
	}

.tooltip {
	float: left;
	}

.toolinfo {
	float: right;
	margin-left: 5px;
	width: 90px;
	}

.tooltip img {
	border: 1px solid #a5a18e;
	}

.video {
	width:640px;
	height:385px;
	background:#ededed;
	}

.video_info {
	border:1px dashed #dad6be;
	width:630px;
	margin:5px 0px;
	padding-left:5px;
	padding-right:5px;
	}


.video_info p.links_row {
	width:625px;
	}

p.links_row span {
	font-weight:bold;
	color:#815646;
	}

div.video_row{
    clear:both; float:left; padding-top:10px !important;
}

div.video_row span {
	font-weight:bold;
	color:#815646;
	}

div.video_row img{
    padding:0px 5px; float:left;
}

.pages {
	float:right;
	margin:-10px 35px 10px 0px;
	color:#000000;
	width:180px;
	}

.font11 {
	font-size:11px;
	}

.link_blue a:link {color:#275a7a;text-decoration: underline}
.link_blue a:visited {color:#275a7a;text-decoration: underline}
.link_blue a:active {color:#275a7a;text-decoration: underline}
.link_blue a:hover {color:#666666;text-decoration: none}

.run_time {
	font-size:11px;
	text-decoration:none;
	border-bottom:0px;
	border-right:1px solid white;
	padding-top:2px;
	font-weight:normal;
	width:150px;
	height:18px;
	text-align:center;
	float:left;
	margin-left:0px;
	}

.width251 {
	width:251px;
	float:left;
	}

.width150 {
	width:150px;
	margin-left:0px;
	float:left;
	}

.width100 {
	width:100px;
	float:left;
	}

.text_align {
	text-align:center;
	}

.text_align .rate_rate {
	float:left;
	margin-left:20px;
	border:0px;
	}

.color815646 {
	color:#815646;
	}

.height25px {
	width:665px;
	height:25px;
	border-bottom:1px solid #f0efe5;
	margin:8px 35px 0px 0px;
	}

.links_path .aaa,
.links_path .bbb {
	margin:0px 2px;
	}

.div_row{
    width:100%;
    border-bottom:1px solid #ccc;
    overflow: hidden;
    padding-bottom:3px;
    padding-top:3px;
}
.book_name{
    width:155px;
    float:left;
}

.book_author{
    width:160px;
    float:left;
}





.contest_users {
	width:607px;
	eight:126px;
	border:1px solid #f0eee1;
	margin:8px 0px 0px 0px;
	padding:7px 9px;
	background:url('/images/left_news_item_bg.gif') repeat-x top;
	}
    .contest_users th{
        font-weight:normal;
        background:url('/images/block_bg.gif') top repeat-x;
        padding: 2px 2px;
    }
    .rate_cell {
        width: 93px;
    }
    .rate_cell div{
        background:url('/images/rate_rate.gif');
	height:15px;
    }
    .article_cell{
        width:100px;
        text-align:center;
    }
    .addition_cell{
        width:100px;
        text-align:center;
    }

.first_letter{
    font-weight:bold;
    margin-left:-5px
}
.pagination {
    padding:20px 0px 20px 0px;
}
.pagination a.prev_page, .pagination a.next_page{
    text-decoration:none;
}
ul.blocked_list{
    list-style:none;
}
    ul.blocked_list li{
        display:block;
        clear:both;
        padding-bottom:10px;
    }
        ul.blocked_list li img{
            float:left;
            padding: 0px 3px 5px 0px;
        }
        ul.blocked_list li div.blocked_list_info{
            
        }
span.date{
    color:#ccc;
    font-weight:bold;
    display:inline;
    padding-top:5px;
}

/* Styles for private messages list */
.post .recipient {
    clear: both;
    padding-top: 1em;
}
.post .recipient img {
    float: right;
    margin-right: 0;
    margin-left: 0.5em;
}

/* fade edit links */
.post .author .edit a
{
  font-size:0.7em;
  color:#666;
}

.post .author img {
	float:left;
	margin-right:0.5em;
	}
.post .author
{
	border-top:2px solid #eee;
	padding:5px 10px;
	background:#eee;
	font-weight:bold;
	color:#333;
	font-size:0.9em;
	min-height:32px;
	width:10em;
	min-width:8em;
	vertical-align:top;
}

.post .author .posts,
.post .author .admin
{
	display:block;
	font-size:0.75em;
	color:black;
	color:#666;
}
.post .author a
{
	color:#333;
	text-decoration:none;
}
.post .author a.threadauthor
{
	color:#080;
}
.post .author a:hover
{
	color:#369;
	text-decoration:underline;
}

.post .date
{
	font-size:0.75em;
	color:#666;
	font-weight:normal;
	margin-bottom:0.5em;
}

td.entry-content{
    padding-left:10px;
}
td.entry-content a{
    font-size:10px;
}

a.utility
{
  color: #f99;
  font-size: 0.65em;
  padding: 2px 5px 4px;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
  margin-top: 0.2em;
}

ul.help {
    list-style:none;
    padding:3px 10px;
    font-size:0.75em;
    color:#ccc;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
ul.help span { color:#666; }
.help_title {
background:#222222 none repeat scroll 0 0;
color:white;
font-size:0.7em;
margin:0.2em 0 0.5em;
padding:2px 10px 3px;
}
/* End of styles for private messages list */

.first_breadcrumb{padding-bottom:15px !important;}
.first_breadcrumb a{
    font-size:16px;
    margin-left:0px;
    line-height:13px;
}

#article_catalogue_id{
    width:265px;
}

#common_left table{
    font-size:10px;

}

.text_decoration_none {text-decoration: none !important;}

