<div><%= image_tag user.avatar.url(:normal), :style=>"padding:10px;", :class=>"photo" %></div>
<div class="rate_total">За текущую акцию <span style="color:#3f843f "><%= stat_rating_total %></span></div>
<div class="rate_total">Средний балл <span style="color:#3f843f "><%= stat_rating_avg %></span></div>
