<h1>Редактирование аккаунта</h1>

<% form_for @user, :url => (admin? ? user_path(@user) : account_path)  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Обновить" %>
<% end %>

<br /><%= link_to "Мой профайл", account_path %>
