<div class="search_add">
            <div class="search">
                  <form action="">
                    <div class="search_text"><input type="text" value="SEARCH"></div>
                    <div class="search_submit"><input type="image" src="/images/search_button_light.gif"></div>
                  </form>
                    <div class="add_article">
                      <% form_tag new_catalogue_article_path((@catalogue.nil? ? Catalogue.first.id : @catalogue.id )), :method => :get do%>
                      <input type="image" src="/images/add_article.gif" alt="">
                      <% end %>
                    </div>
            </div>
</div>



