<div class="pink_box">
      <p class="small">Средняя оценка <span class="rating_avg"><%= obj.stat_rating.rating_avg %></span></p>
      <p class="small">Общий рейтинг <span class="rating_total"><%= obj.stat_rating.rating_total %></span></p>
      <p class="small" class="rate_box"><%= rate(obj,5)%></p>
</div>