<ul>
<% for query in @queries %>
  <li class="query_<%=query.id%>" style="list-style:none"><%= query.query %></a> | <%= query.results %>
  <%= "| "+link_to_ajax_delete(admin_query_path(query), query) %>
  </li>
<%end%>
</ul>
